<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Fermenting Data">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/assets/images/favicon.png" sizes="128x128" type="image/png">
  <title>Fermenting Data</title>
  <link href="/assets/css/grid.css" rel="stylesheet" />
  <link href="/assets/css/textImageStyles3.css" rel="stylesheet" />
  <link href="/assets/css/style8.css" rel="stylesheet" />
</head>

<body>
  <div id="pageWrapper">
    {% include "stickyMenu.html" %}
    
    <div class='insidePage'>
      
      {% include "menu.html" %}
      <!-- breaccrumb -->
      <!-- <div class='breadcrumbWrapper'>
        <div class='Grid Grid--guttersXl'>
          <div class='Grid-cell'>
            {# block breadCrumbs #}{# endblock breadCrumbs #}
          </div>
        </div>
      </div> -->

      <!-- main section, full width -->
      <div class='Grid Grid--guttersXl'>
        <div class="Grid-cell">
          <section id="main">
            {% block mainContent %}{% endblock mainContent %}
          </section>
        </div>
      </div>

      <!-- sections, in grid -->
      <div class="Grid Grid--guttersXl">

        <!-- left -->
        <div class="Grid-cell g3of5">
          <section id="mainLeft">
            {% block leftContent %}{{ content | safe }}{% endblock leftContent %}
          </section>
        </div>

        <!-- right -->
        <div class="Grid-cell g2of5">
          <section id="mainRight">
            {% block rightContent %}{% endblock rightContent %}
          </section>
        </div>

      </div>

    </div>

  </div>

  <!-- scripts -->
  <script src='/assets/js/functions.js'></script>
  <script>

    // all is loaded
    window.addEventListener("DOMContentLoaded", function() {
      console.log("All is loaded");

      /*
      let burgerBtn = document.getElementById('burger');
      burgerBtn.addEventListener('click', function() {
        console.log("button was clicked");
        document.getElementById('menuList').classList.toggle('hide');
        document.getElementById('crossIcon').classList.toggle('hide');
      });
      */

      // can i do this here?
      linkopener(true);

      // on resize
      window.onresize = resize;
      resize();

    })
  </script>
</body>

