{% extends "base.njk" %}

<!-- content in left column ---------------------------------------------- -->
{% block leftContent %}

  <h2 class='pageCategory'>About&nbsp;</h2>
  <p>Fermenting Data is a long-term curatorial project engaging in sensing and sense-making with data and fermentation. It is dedicated to reclaiming data as common practice rather than being assigned to statistics, machine learning, and other computational modelling methods. It is an invitation to discover and invent data processing through practice of fermentation. To ferment data is to speculate and create ways to live together as people and others who care.</p>
  <p>mail: <a href='mailto:info@fermentingdata.net'>info[at]fermentingdata.net</a></p>

{% endblock leftContent %}


<!-- content in right column --------------------------------------------- -->
{% block rightContent %}



{% endblock rightContent %}