{% extends "base.njk" %}

<!-- content in left column ---------------------------------------------- -->
{% block leftContent %}

  <h2>Archive&nbsp;</h2>
  <p>To be updated ...</p>

{% endblock leftContent %}


<!-- content in right column --------------------------------------------- -->
{% block rightContent %}

  <h2>More ...</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac massa justo. Donec nec vulputate nisi, ac ultricies nulla. Donec iaculis vestibulum risus id egestas. Integer ipsum felis, aliquet in neque in, mollis vestibulum dolor. Proin ut eleifend est. Integer mattis neque ligula, at laoreet diam pharetra non. Ut consectetur felis neque. Pellentesque sollicitudin neque eget nunc malesuada blandit. Nam ultricies erat ipsum, pretium pretium erat dignissim nec.</p>
    

{% endblock rightContent %}