{% extends "base.njk" %}

<!-- content in left column ---------------------------------------------- -->
{% block leftContent %}

  <div class='resourceWrapper'>
    {% for item in collections.commissions %}
      <div class='rs'>
        <div class='img'><a href='{{ item.url }}'><img src='{{ item.data.thumbUrl }}'></a></div>
        <div class='info'>
          <span class='title'>{{ item.data.title }}</span>
          {{ item.data.description }}
          <span class='link'><a href="{{ item.url }}">read more</a></span>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock leftContent %}


<!-- content in right column --------------------------------------------- -->
{% block rightContent %}

  <h2>About commissions</h2>
  <p>An introduction to commissions here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac massa justo. Donec nec vulputate nisi, ac ultricies nulla. Donec iaculis vestibulum risus id egestas. Integer ipsum felis, aliquet in neque in, mollis vestibulum dolor.</p>

{% endblock rightContent %}