{% extends "base.njk" %}


{% block mainContent %}

  <!-- all resources ********************************************** -->
  <!-- https://docs.google.com/document/d/1EkIXySj5b6PbVdCU_cVgfY6WruB9msqUvHL3jljyVeE/edit -->
  
  <h2 class='pageCategory'>Glossary</h2>

  <div class='glossaryWrapper'>
    {% for dt in collections.glossary %}
      <a href='{{ dt.url }}'>{{ dt.data.title }}</a><span class='spacer'>*</span>
    {% endfor %}
  </div>

  <!-- 
  <div class='glossaryWrapper'>
    {% for dt in collections.glossary %}
        <div class='dt'>
          <div class='img'>
            <a href='{{ dt.url }}'>
              <img src='{{ dt.data.thumbUrl }}'>
              <div class='imgTxt'>{{ dt.data.title }}</div>
            </a>
          </div>
          <div class='info'>
            <span class='title'>{{ dt.data.title }}</span>
            {{ dt.data.description }}
            <span class='link'><a href="{{ dt.url }}">read more</a></span>
          </div>
        </div>
    {% endfor %}
  </div>
  -->

{% endblock mainContent %}


<!-- content in left column ********************************************** -->
{% block leftContent %}

{% endblock leftContent %}


<!-- content in right column ********************************************** -->
{% block rightContent %}

{% endblock rightContent %}