{% extends "base.njk" %}

{% block mainContent %}
  <!-- 
  <div class='txtFrontIntro'>
    <p><i>Fermenting Data</i> is a long-term curatorial project engaging in sensing and sense-making with data and fermentation. It is dedicated to reclaiming data as common practice rather than being assigned to statistics, machine learning, and other computational modelling methods. It is an invitation to discover and invent data processing through practice of fermentation. To ferment data is to speculate and create ways to live together as people and others who care.</p>
  </div>
  -->
{% endblock mainContent %}

<!-- content in left column ---------------------------------------------- -->
{% block leftContent %}

  <h2>Blog/News</h2>
  <div class='blogWrapper'>
    {% for bi in collections.blog | reverse %}
      <div class='blogItem'>
        <a href="{{ bi.url }}" title='{{ bi.data.title }}' alt='{{ bi.data.title }}'>
          <img src="{{ bi.data.imgUrl }}">
        </a>
        <h2>{{ bi.data.title}}</h2>
        <p>{{ bi.data.summary }}</p>
      </div>
    {% endfor %}
  </div>

{% endblock leftContent %}

<!-- content in right column --------------------------------------------- -->
{% block rightContent %}

  <h2>About Fermenting Data</h2>
  <p>Fermenting Data is a long-term curatorial project engaging in sensing and sense-making with data and fermentation. It is dedicated to reclaiming data as common practice rather than being assigned to statistics, machine learning, and other computational modelling methods. It is an invitation to discover and invent data processing through practice of fermentation. To ferment data is to speculate and create ways to live together as people and others who care.</p>
  <!-- <p><a href='/about'>Read more on the About page &rarr;</a></p> -->

{% endblock rightContent %}