{% extends "baseFront.njk" %}

<!-- main content ********************************************** -->
{% block mainContent %}

  <!-- <div id='frontIframeWrapper'>
    <iframe src='https://www.wikipedia.org/'></iframe>
  </div> -->

  <div id='splashWrapper'>
    <div class='splashInside'>
      <div class='Grid Grid--guttersXl'>
        <div class="Grid-cell g1of1">  
          <h1>Fermenting Data:<br/>Aarhus 8000-8220</h1>
          <h2>city-wide data exhibition<br/>
          17/09&ndash;16/10/2021</h2>
        </div>
      </div>

      <div class='Grid Grid--guttersXl'>
        <div class="Grid-cell">
          <p>Jægergårdsgade 164a, DK-8000 + Andromeda8220, Gudrunsvej 78, DK-8220<br/>&amp; across locations in the city map on fermentingdata.net<p>
          <p>In collaboration with ‡ DobbeltDagger. Exhibition &amp; Events program <a href='https://google.com'>here</a></p>

          <p>
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
              listElement: "ul",
              listItemElement: "li",
              listClass: "splashNav",
              listItemClass: "listItem",
              listItemHasChildrenClass: "hasChildren",
              activeListItemClass: "active",
              anchorClass: "anchor",
              activeAnchorClass: "activeAnchor",
              activeKey: eleventyNavigation.key,
              showExcerpt: false
            }) | safe }}
          </p>
        </div>
      </div>

      <!--
      <div class='Grid Grid--guttersXl'>
        <div class="Grid-cell g1of2">
          <p>Jægergårdsgade 164a, DK-8000 + Andromeda8220, Gudrunsvej 78, DK-8220 - &amp; across locations in the city map on fermentingdata.net<p>
        </div>
        <div class="Grid-cell g1of2">
          <p>In collaboration with DobbeltDagger. Exhibition &amp; Events program here</p>
        </div>
      </div>
      -->
    </div>
  </div>


{% endblock mainContent %}

<!-- content in left column ********************************************** -->
{% block leftContent %}


{% endblock leftContent %}

<!-- content in right column ********************************************** -->
{% block rightContent %}


{% endblock rightContent %}






