{% extends "base.njk" %}

<!-- content in main column ******************************************* -->
{% block mainContent %}

  <h2>Glossary items tagged with <i>{{ title }}</i></h2>

  <!-- go over items -->
  <div class='glossaryWrapper'>
    {% for item in collections.glossary %}

      <!-- run through tags, see if one matches -->
      {% for t in item.data.tags %}
        {% if t == title %}
          <a href='{{ item.url }}'>{{ item.data.title }}</a><span class='spacer'>*</span>
        {% endif %}
      {%- endfor %}

    {%- endfor %}
  <div>

  <!-- 
  {% for item in collections.glossary | includes(title, 'true') %}
    <a href='{{ item.url }}'>{{ item.data.title }}</a><span class='spacer'>*</span>
  {%- endfor %}
  -->


{% endblock mainContent %}


<!-- content in left column ******************************************* -->
{% block leftContent %}


{% endblock leftContent %}


<!-- content in right column ******************************************* -->
{% block rightContent %}


{% endblock rightContent %}